@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');


html {
    font-family: 'Permanent Marker', cursive;
    background-color: white;
}

body {
    margin: 0;
}

header {
    text-align: center;
    background-color:#e6e6fa;
    padding: 20px;
    /* font-family: Arial; */
    font-size: 20px;
}


h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    color: #2f4f4f;
}

h2 {
    font-size: 2rem;
    line-height: 2rem;
    color: 	#2f4f4f;
    }

p{
    font-family: 'Architects Daughter', cursive;
    font-size: 1rem;
}    

nav {
    margin: 10px;
    padding: 10px;
    font-size: 1.5rem;
}

a {
    color: #1e90ff;
    text-decoration: none;
    padding: 5px;
}

/* hover effect added to nav bar and github and linkeid icons - but not to the journey links */
.underlined:hover {
    color: #191970;
    border-bottom: 2px solid  #191970;
}


div {
    /* border: red solid; */
    padding: 15px;
}

footer {
    text-align: center;
    background-color: #e6e6fa;
    padding: 10px;
    color: #2f4f4f;
}

nav a {
    display: block;
    padding-right:20px;
}


#main_nav{
    display:flex;
    flex-direction: row;

}



/* HOME PAGE
Section for styling - so far there are divs for
Div ID Main Box - section right after head
Div ID Main_img_box - div around img 
Div ID Bio_box text */


#main_box{
    display: flex;
    justify-content: center;
    align-items: center;
    /* align-content:center; */
}


#main_img{

    width: 50%;
    height: 100%;
    filter: grayscale(50%);
    object-fit: cover;
    /* object-position: bottom; */
    border: solid #2f4f4f;


}




/* JOURNEY PAGE
Div ID Journey_main
Div ID projects_box
Div ID projects_text_box
Div ID projects_img_box
Img class projects_img*/

/* fixes the journey h3 - it is not in a div, so it does not have inherent padding */
.extra_padded{
    padding-left:30px;
}

.projects_box{
    display:flex;
    
}


.projects_text_box{
    width:50%;

}

.projects_img_box{
    width:50%;

}

.projects_img{

    width: 75%;
    height: 100%;
    object-fit: cover;
    border: solid #2f4f4f;;

}


/* CONTACT PAGE 
Div ID Contact_main
Div ID Form_box
Div ID left_box
Div ID bottom_box
*/



#contact_main{
    display: flex;
}


.contact_img{
    padding-left: 25px;
    height: 5%;
    width: 5%;
}



/* Section for contact form - not planning to change with responsive design */

#form_box{
    width: 70%;
}


form {
    margin: 50px 20px;
    width: 90%;
}

.form-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.form-item label {
    flex-basis: 150px;
    font-size: 18px;
}

.form-item input,
.form-item textarea {
    flex-basis: 80%;
    /* border: 2px solid #FDDC5C; this line is repeated underneath*/
}

.form-item input:hover,
.form-item textarea:hover {
    border: 2px solid #2f4f4f;
    border-radius: 4px; /* Rounded borders */
}

.form-item input,
.form-item textarea,
.form-item button {
    border: 2px solid #1e90ff;
    border-radius: 4px; /* Rounded borders */
    background-color: #FFF;
    padding: 5px;
    font-size: 18px;
}

.form-item button:hover {
    border: 2px solid #2f4f4f;
    border-radius: 4px; /* Rounded borders */
    background-color: #2f4f4f;
    color: #FFF;
}

.form-item button {
    width: 100px;
}



/* For screens of 600px wide or less */
@media (max-width: 600px) {

    
    h1{
        /* Adding this so I can visually see the trasition between media queries */
        color:yellow;
        font-size: 2rem;
        line-height: 2rem;
    }

    h2 {
        font-size: 1.5rem;
        line-height: 1.5rem;

        }

    nav {

        font-size: 1rem;
    }

    
    p{
        font-size: 0.75rem;
        /* line-height: 1rem; */
    }

    
    #main_box{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        /* align-content:center; */
    }
    
    #main_img{
    
        width: 60%;
        height: 60%;
        
    }


    /* Journey page changes */
    /* Changing padding to 0 to reduce space between sections when viewing in small screens. All divs have inherent padding of 15px, so hard changing it to 0 here */
    .projects_box{
        display:flex;
        flex-direction: column;
        padding-top:0px;
        
    }
    
    
    .projects_text_box{
        width:100%;
        padding-top:0px;
        padding-bottom: 0px;

    }

    .projects_img_box{
        width:100%;
        padding-top:0px;
        padding-bottom: 0px;


    }

    .projects_img{

        width: 50%;
        height: 50%;

    
    }



    /* Contact page changes */
        
    #contact_main{
        display: flex;
        flex-direction: column;
    }



    .form-item label {
        font-size: 15px;
    }


    .form-item input,
    .form-item textarea,
    .form-item button {
         font-size: 10px;
    }

    
    .contact_img{
        height: 10%;
        width: 10%;
    }


}